<agm-map 
    [latitude]='latitude' 
    [longitude]='longitude' 
    [mapTypeId]='mapType'     
    [zoom]='zoom'
    [disableDefaultUI]='true'>
    
    <agm-marker
        *ngFor="let marker of markers; index as i"
        [latitude]="marker.Lat"
        [longitude]="marker.Lon"
        (markerClick)="selectMarker(i)">
        <agm-info-window 
            [isOpen]= 'marker.displayInfoWindow' 
            [maxWidth]= 'maxWidth'
            [disableAutoPan]="true">
            <div style="font-size: 8px;">
                <div *ngIf="!marker.isCustom">
                    <strong>Κατάστημα</strong> {{marker.Name}} <br>
                    <strong>Διεύθυνση:</strong> {{marker.AddressMain}} - {{marker.Zip}}<br>
                    <strong>Τηλέφωνο:</strong> {{marker.Telephone}} <br>
                </div>                
                <strong>Lat:</strong> {{marker.Lat}} <br>
                <strong>Lon:</strong> {{marker.Lon}} <br>
            </div>            
        </agm-info-window>
    </agm-marker> 

    <agm-polyline
    [strokeColor]="'#ff0000'">        
        <agm-polyline-point  *ngFor="let point of markers; index as i" 
            [latitude]="point.Lat"
            [longitude]="point.Lon">            
        </agm-polyline-point>
    </agm-polyline>    
</agm-map>