<agm-map 
    [latitude]='latitude' 
    [longitude]='longitude' 
    [mapTypeId]='mapType'     
    [zoom]='zoom'
    [disableDefaultUI]='true'
    (mapClick)="dropMarker($event)">
    
    <agm-marker
        *ngFor="let marker of markers; index as i"
        [latitude]="marker.Lat"
        [longitude]="marker.Lon"
        [iconUrl]='iconUrl'
        (markerClick)="selectMarker(i)">
        <agm-info-window 
            [isOpen]= 'marker.displayInfoWindow' 
            [maxWidth]= 'maxWidth'
            [disableAutoPan]="true">
            <div style="font-size: 8px;">
                <div *ngIf="!marker.isCustom">
                    <strong>Κατάστημα</strong> {{marker.Name}} <br>
                    <strong>Διεύθυνση:</strong> {{marker.AddressMain}} - {{marker.Zip}}<br>
                    <strong>Τηλέφωνο:</strong> {{marker.Telephone}} <br>
                </div>                
                <strong>Lat:</strong> {{marker.Lat}} <br>
                <strong>Lon:</strong> {{marker.Lon}} <br>
            </div>            
        </agm-info-window>
    </agm-marker>  
    <agm-polygon *ngIf="showPoly" [paths]="paths"></agm-polygon>
</agm-map>  
<div style="margin: 15px auto; margin-left: 30%;" class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class='btn btn-danger btn-lg' (click)="delete()">Delete custom markers</button>
    <button type="button" class='btn btn-info btn-lg' (click)="showPolygon()">Show Polygon</button>    
</div>