<div class="container-fluid">
    <div style="margin-top: 10px;" class="row">
        <div class="col">
            <map-master></map-master>            
        </div>             
    </div>
    <div class="row">
        <div class="col">
            <map-slave></map-slave>            
        </div>   
    </div>
</div>